<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row mt-5 justify-content-md-center">
       <div class="col-md-auto">
            <h2 class="p-3"> Mes Contacts </h2>
            <form class="row g-3" th:action="@{/contact}" method="post" th:object="${contact}">

                <div class="col-auto">
                    <label class="visually-hidden" for="email"> Email </label>
                    <input id="email" class="form-control" type="email" th:field="*{email}" required
                           autofocus="autofocus"/>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success mb-3">Add Contact</button>
                </div>
            </form>


            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">Contact added !</div>
            </div>

            <!-- error message -->
            <div th:if="${param.AlreadyExist}">
                <div class="alert alert-danger">Le contact a dèja été ajoutée!</div>
            </div>

            <div th:if="${param.NotExist}">
                <div class="alert alert-danger">Le contact n'existe pas</div>
            </div>

            <div th:if="${param.error}">
                <div class="alert alert-danger">Une erreur s'est produite</div>
            </div>
       </div>
    </div>

    <div class="row mt-5 justify-content-md-center">
        <div class="col-md-6">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contact : ${contacts}">

                    <td th:text="${contact.lastName}"></td>
                    <td th:text="${contact.firstName}"></td>
                    <td th:text="${contact.email}"></td>

                    <td>
                        <button type="submit" class="btn btn-success">Virement</button>
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>